<!DOCTYPE html>
<html>
  <head>
    <title>The History of Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href="/bower_components/toastr/toastr.css" rel="stylesheet">
    <link href="/bower_components/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href="stylesheets/timeline.css"/>
    <link rel='stylesheet' href="stylesheets/style.css"/>
  </head>
  <body ng-app="OurStory" ng-controller="PrimaryCtrl">

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a ui-sref="home" class="brand-logo">The History of Us</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li data-activates="slide-out" data-position="bottom" data-delay="50" ng-show="userCheck" class="collapse"  id="userGreet">Welcome back, <a class="tooltipped " data-tooltip="View Account" href="#" id="user" ng-click="findUser()">{{authenticatedUser.username}}!</a></li>
          <li ng-hide="userCheck" ng-click="login()"><a href="">sign in/sign up</a></li>
          <li><a href="" ng-show="userCheck" ng-click="logout()">log out</a></li>
          <li ng-if="userCheck" id="profile-pic-li"><img id="profile-pic" class="responsive-img circle" ng-src="{{authenticatedUser.profileImageURL}}" alt="" /></li>
        </ul>
      </div>
    </nav>
  </div>


<nav class="side-nav"  id="slide-out">
    <div class="row">
      <div class="header center deep-purple lighten-5"><h4 id="profileHeader">Account Details</h4></div>
      <!-- <h6 class="update" ng-class="{ 'hidden': verifyInfo }"> You haven't created an account yet! </h6> -->
        <div class="row">
          <div class="col s12 accordian_wrapper">
              <ul class="collapsible" data-collapsible="accordion" style="width:100%">
                <li>
                  <div class="collapsible-header"><i class="material-icons">face</i>
                    The Basics
                    <div id="accountPrompt" ng-show="!currentData">
                    You haven't created an account yet!
                    </div>
                </div>
                  <!-- <i class="material-icons">perm_identity</i> -->
                  <div class="collapsible-body accordian-menu" style="color:white">
                    <br>
                    <div id="infoPrompt" ng-if="!currentData">
                      Get started below in three simple steps:
                    </div>
                    <div id="progress_steps">
                      <p id="step1" class="progress_steps" ng-show="!currentData">
                        1) Create an account.
                      </p>
                      <form id="createOrUpdateAccount" ng-submit="createOrUpdateAccount(current)">

                           <input id="full_name" type="text" ng-model="current.full_name" ng-show="!currentData">
                           <input id="full_name" type="text" ng-model="current.full_name" ng-hide="!currentData" placeholder="A Super Cool New Name">
                           <label for="full_name" ng-show="!currentData">full name (to help people find you)</label>
                           <label for="full_name" ng-hide="!currentData">Change your full name (affects how people find you)</label>
                           <button class="btn account_info col s9 " ng-show="!currentData" type="submit" name="create">Create Account</button>
                           <button class="btn account_info col s9" ng-hide="!currentData" type="submit" name="update">Update Account</button>
                            <!-- ng-class="{ 'inactive': verifyInfo }"  -->
                           <br>
                           <br>

                      </form>
                      <div class="steps_wrapper" id="steps_wrapper1">
                        <i class="material-icons progress_checks">done</i>
                        <p id="step1_done" class="progress_steps_done">
                         1) Great! Step one is complete! Now onto the timeline.
                        </p>
                      </div>

                      <p id="step2" class="progress_steps" ng-class="{ 'hidden': currentData.timelines[0] }">
                        2) Create your first timeline.
                      </p>
                      <!-- <p id="step2" class="progress_steps" ng-hide="!currentData.timelines[0]">
                         Create a new timeline.
                      </p> -->
                      <form id="newTimeline" ng-submit="createTimeline(timeline)" ng-class="{ 'hidden': !currentData.timelines[0] }">
                            <!-- <div class="row"> -->
                              <div class="col s12" id="titleColumn">
                                <input id="timeline_title" type="text" class="validate" placeholder="ex: The Adventures of Ally and Joe" ng-model="timeline.title">
                                <label for="icon_prefix" ng-hide="currentData.timelines[0]">Timeline Title</label>
                                <label for="icon_prefix" ng-show="currentData.timelines[0]">Create a new Timeline</label>
                              </div>
                            <!-- </div> -->
                            <button type="submit" name="button" class="btn col s9 offset-s1" id="createTimeline">Make it so.</button>
                      </form>
                      <div class="steps_wrapper" id="steps_wrapper2">
                        <i class="material-icons progress_checks">done</i>
                        <p id="step2_done" class="progress_steps_done">
                         2) Awesome! Two down, one to go...
                        </p>
                      </div>
                      <p id="step3" class="progress_steps">
                        3) Invite friends and family to help you write history!
                      </p>
                      <form id="inviteFriends" ng-class="{ 'hidden': hideInviteForm }">
                        <p id="timelineHint" ng-class="{ 'hidden': hideHint }">
                          (Hint: To get started on your timeline right now, click <a id="startLine" ui-sref="currentUser({id: newTimelineId})" ng-click="getTimeline(newTimelineId)">here</a> and complete this last step later in "Your Timelines".)

                        </p>
                        <input id="partner" type="text" ng-model="friend.name">
                        <label for="partner">Enter a name</label>
                        <p>
                          <input class="with-gap" name="partner_search" type="radio" id="username_search" value="username" ng-model="friend.search" />
                          <label for="username_search">Search by username</label>
                        </p>
                        <p>
                          <input class="with-gap" name="partner_search" type="radio" id="full_name_search" value="full_name" ng-model="friend.search" />
                          <label for="full_name_search">Search by full name</label>
                          <a class="btn red lighten-1 search_partner waves-effect waves-light" ng-click="findFriend(friend)">
                            <i class="material-icons lookup">search</i>
                          </a>
                        </p>
                      </form>
                      <!-- <input id="profile_pic" type="text" ng-model="current.profile_picture">
                      <label for="profile_pic">profile picture url</label> -->
                      <div class="steps_wrapper" id="steps_wrapper3">
                        <i class="material-icons progress_checks">done</i>
                        <p id="step3_done" class="progress_steps_done">
                         3) You're all set!
                        </p>
                      </div>
                    </div>


                  </div>
                </li>
                <li>
                  <div class="collapsible-header"><i class="material-icons">add_alert</i>Notifications</div>
                    <div class="collapsible-body side_nav" >
                      <h5 id="newRequests" style="font-weight: 100" class="center-align">New Invitations</h5>
                      <div ng-if="!currentData.incoming_requests[0]" id="request_updates">(None right now)</div>
                      <form id="requestCheck">
                        <div class="incoming-requests " ng-repeat="request in currentData.incoming_requests track by $index">
                           <div class="row from">
                            {{request.timeline.title}} by {{request.from}} :
                           </div>
                           <div class="responseOptions row">
                             <div class="col s6">
                              <button type="button" name="button" class="btn yellow darken-3 accept" ng-click="reviewTimelineInvitations(request, $event, $index)">accept</button>
                             </div>
                             <div class="col s6">
                              <button type="button" name="button" class="btn red darken-3 decline" ng-click="reviewTimelineInvitations(request, $event, $index)">decline</button>
                             </div>
                           </div>
                           <div class="divider"></div>
                          <!-- </div> -->
                        </div>
                      </form>
                      <h5 id="newMessages" style="font-weight: 100" class="center-align">New Messages</h5>
                      <div ng-if="!currentData.messages" id="message_updates">(None right now)</div>
                    </div>
                </li>
                <li>
                  <div class="collapsible-header" ng-click="fetchUpdatedTimelines()"><i class="material-icons">people</i>Your Timelines</div>
                  <div class="collapsible-body side_nav">
                    <ul>
                      <li>
                        <div id="no_new_relationships" ng-hide="currentData.timelines[0]">
                          (Nothing here yet)
                        </div>
                      </li>
                      <li ng-show="currentData.timelines[0]" ng-repeat="timeline in currentData.timelines track by $index">
                        <div class="timelines">
                          <a ui-sref="currentUser({id: timeline.id})" class="partnerLink animated pulse" ng-click="getTimeline(timeline.id, $index)">{{timeline.title}}</a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
          </div>
    </div>
  </div>
</nav>
    <div ui-view></div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="/bower_components/lightbox2/dist/js/lightbox.js"></script>
    <script src="/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="config/app.js" type="text/javascript"></script>
    <script src="config/routes.js" type="text/javascript"></script>
    <script src="config/run.js" type="text/javascript"></script>
    <script src="controllers/primaryCtrl.js" type="text/javascript"></script>
    <script src="controllers/currentUserCtrl.js" type="text/javascript"></script>
    <script src="controllers/inviteCtrl.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <script language="javascript" src="javascripts/lz-string.js"></script>
    <script src="factories/authFactory.js" type="text/javascript"></script>
    <script src="factories/userFactory.js" type="text/javascript"></script>
  </body>
</html>
