
<div class="container">
  <h1>Let's be honest...</h1>

  <h3>social media can be gross.</h3>

  <div class="why">
    <p class="reasons">
      That's why I decided to make an app that could be used more selectively, and just with people who are on a
      need-to-know basis.
    </p>
    <p class="reasons">
      The high visibility virtual social scene definitely has its place. Is it cool that your great cousin thrice removed
      just had twins? It's the best! Do your fifth-grade Geography teacher's homemade tacos with
      free-range chicken look amazing? Without a doubt!
    </p>
    <p class="reasons">
      But after so long, it can feel like you're being bombarded and, dare I say, bludgeoned by the noise of
      people you sometimes can't even remeber how you met, clamoring for "likes".
    </p>
    <br>
    <br>
    <br>
  </div>
</div>

<h3 class="tldr">I figured I'd sift through that a little. <i class="fa fa-heart"></i></h3>
