<div class="container">
    <div class="page-header">
        <h1 id="timeline">Timeline</h1>
        <!-- <a href="#"   ng-click="getUser" >click</a> -->
    </div>

      <!-- <a class="waves-effect waves-light btn" onclick="Materialize.toast('<span></span><a class=&quot;btn-flat yellow-text&quot; href=&quot;#!&quot;>Undo<a>', 5000)">Looks Good? Add it!</a> -->

      <ul class="fab-wrap">
        <li class="modal-trigger" href="#entryModal"><a class="btn-floating blue"><i class="material-icons fab">mode_edit</i></a></li>
        <li class="modal-trigger" href="#messageModal"><a class="btn-floating yellow darken-3 "><i class="material-icons fab">message</i></i></a></li>
      </ul>
    <!-- </div> -->

    <!-- Modal Structure -->
    <div id="entryModal" class="modal">
      <div class="modal-content">
          <h4 class="center-align modal-header valign">A New Page</h4>
        <div class="row">
            <form class="col s12" novalidate>
              <div class="row">
                <div class="input-field col s12">
                  <input placeholder="The Giants Game" id="title" type="text" class="validate modal-input" ng-model="story.title" required="true">
                  <label for="title">Title</label>
                </div>
                <div class="input-field col s12">
                  <textarea id="summary" class="materialize-textarea modal-input" placeholder="Last Saturday, we went to the game and ran into some old friends..." ng-model="story.summary" required="true"></textarea>
                  <label for="summary">What would you like to say?</label>
                </div>
              <div class="row">
                <div class="input-field col s4" id="datediv">
                  <input id="datepicker" class="validate modal-input" placeholder="select a date" ng-model="story.date">
                  <label for="date" id="datelabel">If no date is selected, default is today</label>
                </div>

                <div class="row">
                  <div class="row">
                    <input class="col s4" type="file" ng-model='file' id="myfile"  ng-click="getParams()" ><br>
                  </div>
                  <img id="imgPreview" src="" class="col s4" height="200" alt="Image preview...">

                  <div class="input-field col s4" id="imgUrlwrap">
                    <input placeholder="http://place.com/cool_pic.jpg" id="imgUrl" type="url" class="validate modal-input" ng-model="img.url">
                    <label for="imgUrl">Image Url</label>
                  </div>
                </div>
                <div class="input-field col s5 offset-s4" id="img_title_wrap" ng-show="showImgTitleField">
                  <input id="img_title" type="text" class="validate" required="true" ng-model="img.title">
                  <label for="img_title">Image Title</label>
                </div>
              </div>
              <div class="row" id="buttonsGroup">
              <a class="col s12" href="" id="resetLink">Reset file input</a>
              <button class="btn yellow darken-3 col s3"  type="button" name="button" ng-click='previewFile()' id="previewPic">Preview Picture</button>
                <button class="btn col s3" type="button" name="button" ng-click="addOnePhoto(img)">Add This Image</button>
              </div>
              </div>
                <div class="row">
                  <button class="btn col s12" type="submit" name="button" id="addStory" ng-click="addStory(story)">All Done!</button>
                </div>
            </form>
          </div>
      </div>
    </div>

    <div id="messageModal" class="modal">
      <div class="modal-content">
        <h4 class="center-align modal-header">Send a Message</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer">
        <!-- <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a> -->
      </div>
    </div>


    <ul class="timeline">
        <li>
          <div class="timeline-badge"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ 12/31/92 | date : longDate }}</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="row">
                <a href="http://lorempixel.com/output/nightlife-q-c-640-480-10.jpg" data-lightbox="roadtrip" data-title="this is some stuff">
                  <img src="http://lorempixel.com/output/nightlife-q-c-640-480-10.jpg" alt="" class="thumbnail"/>
                </a>
                <a href="http://lorempixel.com/output/food-q-c-640-480-6.jpg" data-lightbox="roadtrip" data-title="some other stuff">
                  <img src="http://lorempixel.com/output/food-q-c-640-480-6.jpg" class="thumbnail" alt="" />
                </a>
                <a href="http://lorempixel.com/output/animals-q-c-640-480-5.jpg" data-lightbox="roadtrip" data-title="don't even ask">
                  <img src="http://lorempixel.com/output/animals-q-c-640-480-5.jpg" alt="" class="thumbnail"/>
                </a>
                <a href="http://lorempixel.com/output/sports-q-c-640-480-1.jpg" data-lightbox="roadtrip" data-title="don't even ask">
                  <img src="http://lorempixel.com/output/sports-q-c-640-480-1.jpg" alt="" class="thumbnail"/>
                </a>
              </div>
            </div>
          </div>
        </li>


        <li class="timelineInverted">
          <div class="timeline-badge warning"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ 3/5/14 | date : longDate }}</small></p>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <p>Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.</p>
              <hr>
              <a href="http://lorempixel.com/output/nature-q-c-640-480-3.jpg" data-lightbox="roadtrip2" data-title="this is some stuff">
                <img src="http://lorempixel.com/output/nature-q-c-640-480-3.jpg" alt="" class="thumbnail"/>
              </a>
              <a href="http://lorempixel.com/output/technics-q-c-640-480-2.jpg" data-lightbox="roadtrip2" data-title="some other stuff">
                <img src="http://lorempixel.com/output/technics-q-c-640-480-2.jpg" alt="" class="thumbnail"/>
              </a>
              <a href="http://lorempixel.com/output/technics-q-c-640-480-10.jpg" data-lightbox="roadtrip2" data-title="don't even ask">
                <img src="http://lorempixel.com/output/technics-q-c-640-480-10.jpg" alt="" class="thumbnail"/>
              </a>
            </div>
          </div>
        </li>

        <li ng-repeat="story in fakeStories track by $index" ng-class="{timelineInverted: oddMember}">
        <!-- <li ng-repeat="story in stories"> -->
          <div class="timeline-badge" ng-class="{warning: oddMember}"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{story.title}}</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{ story.date }}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{story.summary}}</p>
              <hr>
              <a ng-repeat="image in story.images track by $index" href="{{image.url}}" data-lightbox="{{story.title}}" data-title="{{image.title}}">
                <img src="{{image.url}}" alt="" class="thumbnail"/>
              </a>
            </div>
          </div>
        </li>

        <li ng-repeat="story in stories" ng-class="{timelineInverted: memberOne}">
          <div class="timeline-badge" ng-class="{warning: memberOne}"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">{{story.title}}</h4>
              <p><small class="text-muted">{{ story.date }}</small></p>
            </div>
            <div class="timeline-body">
              <p>{{story.summary}}</p>
              <hr>
              <a ng-repeat="image in story.images track by $index" href="{{image}}" data-lightbox="{{story.title}}" data-title="{{image.caption}}">
                 Image {{$index}}
                 <img ng-src="" alt="" />
              </a>
            </div>
          </div>
        </li>


        <!-- <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timelineInverted">
          <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li> -->
    </ul>
</div>
