<div class="splashBody" >
  <div class="container">
  <div class="" id="splashHeader">
    <p id="callToAction">Make history together.</p>
  </div>
  <div class="page-intro">
    <p>
      Tell your story the way only you can...
    </p>
    <p>
      With a collection of photos, videos and memories,
      share the best moments of your life with the people that matter most.
    </p>
  </div>
  <div class="deco">

  </div>
  <button type="button" name="button" class="btn yellow darken-2 waves-effect waves-light" id="comeIn" ui-sref="about">Learn More About This Project</button>
  </div>
  <p>
    or
  </p>
  </div>
  <button type="button" name="button" class="btn yellow darken-2 waves-effect waves-light" id="startNow" ng-click="login()">Get Started Now!</button>
  </div>
</div>
