<div class="splashBody" >
  <div class="container">
  <div class="" id="splashHeader">
    <p id="callToAction">Make history together.</p>
  </div>
  <div class="page-intro">
    <p>
      Bring each story to life the way only you can...
    </p>
    <p>
      With photos, videos and summaries,
      share the best moments of your life with each other, and watch your timeline grow.
    </p>
  </div>
  <div class="deco">

  </div>
  <button type="button" name="button" class="btn yellow darken-2 waves-effect waves-light" id="comeIn" ui-sref="home">See What Others Have Already Written!</button>
  </div>
  <p>
    or
  </p>
  </div>
  <button type="button" name="button" class="btn yellow darken-2 waves-effect waves-light" id="startNow" ng-click="login()">Get Started on Your Own!</button>
  </div>
</div>
